@font-face {
  font-family: "iconfont"; /* Project id 4996446 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4996446_46f35l1b6gj.woff2?t=1755054561268') format('woff2'),
       url('//at.alicdn.com/t/c/font_4996446_46f35l1b6gj.woff?t=1755054561268') format('woff'),
       url('//at.alicdn.com/t/c/font_4996446_46f35l1b6gj.ttf?t=1755054561268') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guidang:before {
  content: "\e6fb";
}

.icon-biaoqian:before {
  content: "\e604";
}

.icon-fenlei:before {
  content: "\e687";
}

.icon-shouye:before {
  content: "\e677";
}
